:{% extends 'mytemplate.jinja2' %}
{% block index %}
<div class="col-md-4">
    <button class="btn btn-primary" onclick="loadBrand();">Load Brands</button>
    <table class="table table-hover" id="brand_results">
    </table>
</div>
<div class="col-md-4">
    <h1> Users Signed Up</h1>
    <h2>{{getUsers}}</h2>
</div>
<div class="col-md-4">
    <table class="table">
        <thead>
            <tr>
                <th>Usernames</th>
            </tr>
        </thead>
        <tbody>
            {% for users in user_list %}
            <tr>
                <td>{{ users.id }} {{ users.get_email() }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
function loadBrand()
{
    // Make an AJAX call to the functions file to load the
    // fields properly
    $.ajax({
       type: 'GET',
        url: "/ajax",
        data: { "function": "getBrands" },
        success: function(data)
        {
            for(i=0; i<data.length; i++)
            {
              // console.log(JSON.stringify(data[i], null, '\t'));
              // console.log(data[i]["key"]);
              $("#brand_results").append("<tr><td>"+data[i]["key"]+"</td><td>"+data[i]["name"]+"</td></tr>");
            }
        }
    });
}
</script>
{% endblock %}
