{% extends 'mytemplate.jinja2' %}
{% block index %}
<div class="col-md-4">
</div>
<div class="col-md-4">
<h1> Users Signed Up<br/>{{getUsers}}</h1>
</div>
<div class="col-md-4">
</div>
{% endblock %}
