{% extends 'mytemplate.jinja2' %}
{% block profile %}
<form id="login" class="form-signin" role="form" method="POST">
    <h2 class="form-login-heading">Login</h2>
    {% if error %}
    <div class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      {{ error }}
    </div>
    {% endif %}
    <div class="form-group row">
        <input type="text" id="inputCollar" name="collar_measure" class="form-control" placeholder="Collar Size" required autofocus>
    </div>
    <div class="form-group row">
        <input type="text" id="inputWaist" name="waist_measure" class="form-control" placeholder="Waist Size" required autofocus>
    </div>
    <div class="form-group row">
        <input type="text" id="inputWaist" name="inputStyle" class="form-control" placeholder="Style" required autofocus>
    </div>
    <label class="checkbox pull-left">
        <input type="checkbox" value="remember-me">
        Remember me
    </label>
    <h2 class="spacer"></h2>
    <button class="btn btn-lg btn-primary btn-block" type="submit" name="form.submitted">Submit</button>
</form>

</div>
{% endblock %}
